<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveCoding - on découvre Vue par l'exemple</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


</head>

<body>
    <div id="todolist">

        <input type="text" v-model="tache">

        <button v-on:click="ajouterTache()">Ajouter</button>
       
           
            <p v-if="nbTaches > 0">taches effectué {{ tachesRealisee }}/{{ nbTaches }}</p>
            <p v-if="nbTaches == tachesRealisee && firstutils==false">Bravo vous avez rempli toutes vos taches</p> 
            <p v-if="firstutils==true">Bienvenue sur ta todoList<br/>PS : N'oublies pas les chocolats de Raphaël</p>
            
       

        

        <ul>
            <li v-for="(tache, index) in taches" >
                <span class="tache" v-bind:class="tache.class"> {{ tache.tache }}</span>
                <i class="fas fa-ban" v-on:click="supprimerTache(index)" v-if="tache.class=='fait'"></i>
                <i class="far fa-square" v-on:click="cestFait(index, tache.tache )" v-if="tache.class!='fait'"></i>
              
        </ul>

    </div>

    <script src="js/vue.js"></script>
</body>

</html>