<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les listes de Rose</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">


</head>

<body>
    <div id="todolist" class="container">
        <div id="header">
            <img src="img/header.jpg" alt="" class="img-fluid">
            <div class="overlay"></div>
            <div class="todolisttitre">Les listes de rose
                <div id="datedujour">{{ datedujour }}</div>
            </div>
            
        </div>

        <input @keypress.enter="ajouterTache()" type="text form-control form-control-lg" v-model="tache">

        <button v-on:click="ajouterTache()" class="addbtn">+</button>
       
           
            <p v-if="nbTaches > 0">taches effectué {{ tachesRealisee }}/{{ nbTaches }}</p>
            <p v-if="nbTaches == tachesRealisee && firstutils==false">Bravo vous avez rempli toutes vos taches</p> 
            <p v-if="firstutils==true">Bienvenue sur ta todoList<br/>PS : N'oublies pas les chocolats de Raphaël</p>
            
       

        

        <ul>
            <transition-group name="insert" tag="ul" class="list">
            <li v-for="(tache, index) in taches" v-bind:key="index" >
              
                <span class="tache" v-bind:class="tache.class"> {{ tache.tache }}</span>
                <i class="fas fa-ban" v-on:click="supprimerTache(index)" v-if="tache.class=='fait'"></i>
                <i class="far fa-square" v-on:click="cestFait(index, tache.tache )" v-if="tache.class!='fait'"></i>
            </li>
            </transition-group>


            
              
        </ul>

    </div>

    <script src="js/vue.js"></script>
</body>

</html>